@{

    Layout = "_Layout";
}

<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <header>
        <nav>

        </nav>
    </header>
    <h2>Welcome to Async Inn</h2>

    <ol>
        <li><a href="/Hotels">Manage Hotels</a></li>
        <li><a href="/Rooms">Manage Rooms</a></li>
        <li><a href="/HotelRooms">Manage Hotel Rooms</a></li>
        <li><a href="/Amenities">Manage Amenities</a></li>
        <li><a href="/RoomAmenities">Manage Room Amenities</a></li>
    </ol>

</body>
</html>